# Python Önbellek Dosyaları
__pycache__/
*.py[cod]
*$py.class

# PyInstaller Derleme (Build) Çıktıları
build/
dist/
*.spec

# Test ve Kapsam (Coverage) Raporları
.coverage
htmlcov/

# İşletim Sistemi Kalıntıları
.DS_Store
Thumbs.db
Desktop.ini